.nadaBODY {
	FONT-SIZE: 12px; 
	MARGIN: 0px; 
	COLOR: #666666; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.boton {
	FONT-SIZE: 10px; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #313380
}

.texto {
	FONT-SIZE: 12px; 
	COLOR: #666666; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.titulo {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 16px; 
	COLOR: #313380; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.campos {
	FONT-SIZE: 10px; 
	COLOR: #1c4ab9; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.campoRequerido {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px; 
	COLOR: #19399c; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.subtitulo {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	COLOR: #313380; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.subsubtitulo {
	FONT-SIZE: 12px; 
	COLOR: #006600; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.piedefoto {
	FONT-SIZE: 10px; 
	COLOR: #888888; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.subsubtitulo2 {
	FONT-SIZE: 11px; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.linkmenu {
	FONT: 12px Arial, Helvetica, sans-serif; 
	TEXT-TRANSFORM: none; 
	COLOR: #ffffff; 
	TEXT-DECORATION: underline
}

.subtitulo2 {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.titulofila {
	FONT-SIZE: 11px; 
	BACKGROUND: #1c49bc; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.subtitulofila {
	FONT-SIZE: 11px; 
	BACKGROUND: #0099ff; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.celda2 {
	BACKGROUND: #ffffff; 
	FONT: 12px Arial, Helvetica, sans-serif; 
	TEXT-TRANSFORM: none; 
	COLOR: #666666; 
	TEXT-DECORATION: none
}

.celda {
	BACKGROUND: #e8f5ff; 
	FONT: 12px Arial, Helvetica, sans-serif; 
	TEXT-TRANSFORM: none; 
	COLOR: #666666; 
	TEXT-DECORATION: none
}

.barra {
	BACKGROUND-COLOR: #65cc0d
}


/*
 Estilo para el paginador
*/

.labelPaginador{
	FONT-SIZE: 9px; 
	COLOR: #666666 
}

.textPaginador {
	FONT-SIZE: 9px; 
	COLOR: #666666; 
	FONT-FAMILY: Arial, Helvetica, sans-serif
}

.botonPaginador {
	FONT-SIZE: 9px; 
	COLOR: #ffffff; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #313380
}
